<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/principal/style.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
</head>
<body style="font-family: 'Poppins', sans-serif;">
<!-- Header -->
<header>
    <nav class="navbar navbar-expand-lg navegacion-sections">
        <div class="container-fluid navegacion-sections">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/logo_sbr.png}" alt="img" class="logo-principal">
                Sabor Bajo El Radar
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse nav-final" id="navbarScroll">
                <ul class="navbar-nav my-2 my-lg-2 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item link-header"><a class="nav-link" aria-current="page" href="#">Inicio</a></li>
                    <li class="nav-item link-header dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">Nosotros</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/quienes-somos}">Quienes somos</a></li>
                            <li><a class="dropdown-item" th:href="@{/como-funciona}">Como Funciona</a></li>
                            <li><a class="dropdown-item" href="#">Equipo</a></li>
                            <li><a class="dropdown-item" th:href="@{/dashboard/usuarios}">Ver Usuarios registrados</a></li>
                        </ul>
                    </li>
                    <li class="nav-item link-header"><a class="nav-link" href="#">Contacto</a></li>
                    <li class="nav-item link-header">
                        <a class="nav-link" th:href="@{/comunidad}" id="comunidad">Únete a nuestra comunidad</a>
                    </li>
                    <li class="nav-item link-header">
                        <a class="nav-link" href="#" id="login">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Contenido de la pagia web -->
<main class="mt-2 mb-2">
    <div class="container text-center">
        <div class="row p-3">

            <div class="col border border-black rounded-4 me-3">
                <img th:src="@{../../static/img/Quienes_Somos/imgperfil.png}" class="rounded w-100 img-fluid" alt="IMG WINSTON">
                <p>
                    Winston - Integrante del grupo
                </p>
            </div>
            <div class="col border border-black rounded-4">
                <img src="/static/img/Quienes_Somos/imgperfil.png" class="rounded w-100 img-fluid" alt="IMG WINSTON">
                <p>
                    Jesith - Integrante del grupo
                </p>
            </div>
            <div class="col border border-black rounded-4 ms-3">
                <img src="/static/img/Quienes_Somos/imgperfil.png" class="rounded w-100 img-fluid" alt="IMG WINSTON">
                <p>
                    Damian - Integrante del grupo
                </p>
            </div>
            <div class="col border border-black rounded-4 ms-3">
                <img src="/static/img/Quienes_Somos/imgperfil.png" class="rounded w-100 img-fluid" alt="IMG WINSTON">
                <p>
                    Leidy - Integrante del grupo
                </p>
            </div>

        </div>
    </div>

    <!-- segunda seccion -->
    <div class="container mt-5 p-4">
        <div class="row">
            <div>
                <p class="col-sm-12 fs-3 text-star" style="padding-left: 100px;">
                    ¿Quienes somos?
                </p>
            </div>
            <div class="col-sm-8 d-flex align-items-center">
                <p class="">
                    Somos un equipo de estudiantes apasionados por la tecnología y el desarrollo de software. Aunque estamos dando nuestros primeros pasos como desarrolladores junior, nos une la emoción de crear soluciones innovadoras, funcionales y útiles. Creemos que cada proyecto es una oportunidad para aprender, crecer y aportar valor. Nos motiva experimentar con nuevas ideas, trabajar en equipo y transformar desafíos en productos que hagan la diferencia.
                </p>
            </div>
            <div class="col-sm-4 d-flex align-items-center justify-content-center ">
                <img src="/static/img/Quienes_Somos/Developer.svg" class="rounded w-100 img-fluid" alt="IMG WINSTON">
            </div>
        </div>
    </div>


    <!-- Tercera seccion -->
    <div class="container mt-5 mb-5 border border-black rounded-4 p-4" style="background: #FEF9C2;">
        <div class="row">
            <div>
                <p class="col-sm-12 fs-3 text-end" style="padding-right: 100px;">
                    Nuestra Meta
                </p>
            </div>
            <div class="col-sm-4 d-flex align-items-center justify-content-center">
                <img src="/static/img/Quienes_Somos/objetive.png" class="rounded w-100 img-fluid" alt="IMG WINSTON">
            </div>
            <div class="col-sm-8 d-flex align-items-center" style="font-size: 18px;">
                <p>
                    Nuestra meta es ofrecer a los vendedores urbanos un espacio digital donde puedan ser vistos y valorados por lo que hacen cada día. A través del aplicativo, buscamos que la comunidad descubra fácilmente sus productos, se acerque a sus historias y reconozca la importancia de su trabajo. Al mismo tiempo, queremos guiarlos en el proceso de formalización de sus negocios, generando oportunidades de crecimiento y construyendo un vínculo más fuerte entre ellos y la ciudad que habitan.
                </p>
            </div>
        </div>
    </div>

    <!-- Footer principal -->
    <section class="footer">
        <div class="container text-center">
            <div class="row align-items-center">

                <div class="col">
                    <p class="footer-titulo">Nosotros</p>
                    <div><a href="#" class="footer-text">Quienes somos</a> <a href="#" class="footer-text">Equipo</a> <a href="#" class="footer-text">Testimonios</a></div>
                </div>

                <div class="col">
                    <p class="footer-titulo">Soporte</p>
                    <div><a href="#" class="footer-text">Contáctanos</a> <a href="#" class="footer-text">PQRS</a> <a href="#" class="footer-text">FAQ</a></div>
                </div>

                <div class="col"><img th:src="@{/img/logo_sbr.png}" alt="" class="footer-logo"></div>

                <div class="col">
                    <p class="footer-titulo">Plataformas</p>
                    <a href="#"><img th:src="@{/img/playstore.png}" alt="" class="playstore"></a>
                    <a href="#"><img th:src="@{/img/appstore.png}" alt="" class="appstore"></a>
                </div>

                <div class="col">
                    <p class="footer-titulo">Redes sociales</p>
                    <div class="footer-container-redsocial">
                        <a href="#" class="footer-redsocial fondo-facebook"><img th:src="@{/img/facebook.png}" class="icono-redsocial facebook" alt=""></a>
                        <a href="#" class="footer-redsocial fondo-instagram"><img th:src="@{/img/instagram.png}" class="icono-redsocial instagram" alt=""></a>
                        <a href="#" class="footer-redsocial fondo-twitter"><img th:src="@{/img/twitter.png}" class="icono-redsocial twitter" alt=""></a>
                        <a href="#" class="footer-redsocial fondo-linkedin"><img th:src="@{/img/linkedin.png}" class="icono-redsocial linkedin" alt=""></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>


<!-- Footer legal -->
<footer>
    <div class="footer-container">
        <a href="#" class="footer-footer-link">Política de privacidad</a>
        <a th:href="@{/terminos-y-condiciones}" class="footer-footer-link">Términos y condiciones</a>
        <a th:href="@{/mapa-navegacion}" class="footer-footer-link">Mapa de navegación</a>
        <p class="footer-footer-text">© 2023 Sabor Bajo El Radar. Todos los derechos reservados.</p>
    </div>
</footer>
<script th:src="@{/js/principal/custom.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>
</html>