.chart-container {
    width: 400px;   /* Ancho fijo */
    height: 400px;  /* Alto fijo */
    margin: 0 auto; /* Centrar */
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

#usuariosChart {
    max-width: 400px;
    max-height: 400px;
}
