<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Panel administrativo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"/>
    <!-- Bootstrap Icons -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
        rel="stylesheet"/>
    
    <!-- Css -->
    <link rel="stylesheet" th:href="@{/css/administrador/panel_admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/administrador/sidebar_toggle.css}"/>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        
        <!-- Sidebar -->
        <div id="sidebar" class="col-md-2 sidebar">
            <h4 class="text-center text-white mb-4">Sabor Bajo El Radar</h4>
            
            <a th:href="@{/dashboard/admin}">
                <i class="bi bi-speedometer2"></i> <span class="sidebar-text">Dashboard</span>
            </a>
            <a th:href="@{/usuarios/lista}">
                <i class="bi bi-person-workspace"></i> <span class="sidebar-text">Usuarios</span>
            </a>
            <a class="active" th:href="@{/correo/masivos}">
                <i class="bi bi-envelope-fill"></i> <span class="sidebar-text">Correo Masivos</span>
            </a>
            
            <div class="text-center mt-4">
                <a th:href="@{/usuarios/nuevo}">
                    <button class="btn btn-purple btn-sm text-white">Crear cuenta</button>
                </a>
            </div>

            <!-- Importacion de usuarios -->
            <div class="text-center mt-4">
                <a th:href="@{/usuarios/importar}">
                    <button class="btn btn-purple btn-sm text-white">Importar ususarios a gran escala</button>
                </a>
            </div>
        </div>
        
        <!-- Contenido principal -->
        <div class="col-md-10 p-4">
            
            <!-- Bienvenida -->
            <div class="text-center mb-4">
                <h1>Bienvenido a tu plataforma</h1>
                <p>Gestiona tus pedidos, visualiza estadísticas y conecta con vendedores locales.</p>
            </div>
            
            <!-- Carta de resumenes -->
            <div class="row mb-4">
                
                <!-- Carta de la cantidad de usuarios-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                    <div class="card text-white bg-dark p-3 h-100">
                        <h5>Total de usuarios</h5>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <i class="bi bi-people-fill fs-3"></i>
                            <h4 id="totalUsuarios" class="mb-0">...</h4>
                        </div>
                        <small>Registrados en el sistema</small>
                    </div>
                </div>
                
                <!-- Carta de los negocios activos-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                    <div class="card text-white bg-dark p-3 h-100">
                        <h5>Negocios activos</h5>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <i class="bi bi-shop-window fs-3"></i>
                            <h4 id="negociosActivos" class="mb-0">...</h4>
                        </div>
                        <small>Con estado activo y aprobado</small>
                    </div>
                </div>
                
                <!-- Carta de las ventas totales del sistema en forma de ingresos-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                    <div class="card text-white bg-dark p-3 h-100">
                        <h5>Total de ventas</h5>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <i class="bi bi-currency-dollar fs-3 "></i>
                            <h4 id="ventasTotales" class="mb-0">...</h4>
                        </div>
                        <small>Acumuladas en el sistema</small>
                    </div>
                </div>
                
                <!-- Carta de PQRS pendientes-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                    <div class="card text-white bg-dark p-3 h-100">
                        <h5>PQRS pendientes</h5>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <i class="bi bi-exclamation-circle-fill fs-3"></i>
                            <h4 id="pqrsPendientes" class="mb-0">...</h4>
                        </div>
                        <small>En revision o sin resolver</small>
                    </div>
                </div>
                
                <!-- Carta del total de ventas-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                    <div class="card text-white bg-dark p-3 h-100">
                        <h5>Compras realizadas</h5>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <i class="bi bi-bag-check-fill fs-3"></i>
                            <h4 id="comprasRealizadas" class="mb-0">...</h4>
                        </div>
                        <small>Transacciones completadas</small>
                    </div>
                </div>
                
                <!-- Carta de los negocios pendientes-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
                    <div class="card text-white bg-dark p-3 h-100">
                        <h5>Negocios pendientes</h5>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <i class="bi bi-hourglass-split fs-3"></i>
                            <h4 id="negociosPendientes" class="mb-0">...</h4>
                        </div>
                        <small>Esperando aprobacion</small>
                    </div>
                </div>
            </div>
            
            <!-- Graficas -->
            <div class="row">
                
                <!-- Grafica de ventas por mes en forma de ingresos -->
                <div class="col-md-6 my-3">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="mb-0">Ventas por mes</h5>
                            
                            <!-- Exportaciones-->
                            <div class="dropdown">
                                <button
                                    class="btn btn-outline-light dropdown-toggle btn-sm"
                                    type="button"
                                    data-bs-toggle="dropdown">
                                    Exportar
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportPDF('lineaVentas', 'grafica_ventas')">
                                            PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportExcel('lineaVentas', 'grafica_ventas')">
                                            Excel
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportWord('lineaVentas', 'grafica_ventas')">
                                            Word
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportPNG('lineaVentas', 'grafica_ventas')">
                                            PNG
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/api/dashboard/ventas-por-mes}">
                                            Web Services (datos)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <canvas id="lineaVentas" style="max-height: 300px; width: 100%"></canvas>
                    </div>
                </div>
                
                <!-- Grafica de usuarios dependiendo de su rol -->
                <div class="col-md-6 my-3">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="mb-0">Usuarios por rol</h5>
                            <div class="dropdown">
                                
                                <!-- Exportaciones -->
                                <button
                                    class="btn btn-outline-light dropdown-toggle btn-sm"
                                    type="button"
                                    data-bs-toggle="dropdown">
                                    Exportar
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportPDF('usuarios', 'grafica_usuarios')">
                                            PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportExcel('usuarios', 'grafica_usuarios')">
                                            Excel
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportWord('usuarios', 'grafica_usuarios')">
                                            Word
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportPNG('usuarios', 'grafica_usuarios')">
                                            PNG
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/api/dashboard/usuarios-por-rol}">
                                            Web Services (datos)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <canvas id="usuarios" style="max-height: 300px; width: 100%"></canvas>
                    </div>
                </div>
                
                <!-- Grafica de los estados de la PQRS -->
                <div class="col-md-6 my-3">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="mb-0">Estados de PQRS</h5>
                            <div class="dropdown">
                                
                                <!-- Exportaciones -->
                                <button
                                    class="btn btn-outline-light dropdown-toggle btn-sm"
                                    type="button"
                                    data-bs-toggle="dropdown">
                                    Exportar
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportPDF('estadoPqrs', 'grafica_estadoPqrs')">
                                            PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportExcel('estadoPqrs', 'grafica_estadoPqrs')">
                                            Excel
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportWord('estadoPqrs', 'grafica_estadoPqrs')">
                                            Word
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportPNG('estadoPqrs', 'grafica_estadoPqrs')">
                                            PNG
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/api/dashboard/pqrs-por-estado}">
                                            Web Services (datos)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <canvas id="estadoPqrs" style="max-height: 300px; width: 100%"></canvas>
                    </div>
                </div>
                
                <!-- Grafica los estados de los negocios -->
                <div class="col-md-6 my-3">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="mb-0">Estado de Negocios</h5>
                            <div class="dropdown">
                                
                                <!-- Exportaciones -->
                                <button
                                    class="btn btn-outline-light dropdown-toggle btn-sm"
                                    type="button"
                                    data-bs-toggle="dropdown">
                                    Exportar
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportPDF('estadoNegocios', 'grafica_estadoNegocios')">
                                            PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportExcel('estadoNegocios', 'grafica_estadoNegocios')">
                                            Excel
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportWord('estadoNegocios', 'grafica_estadoNegocios')">
                                            Word
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick="exportPNG('estadoNegocios', 'grafica_estadoNegocios')">
                                            PNG
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/api/dashboard/negocios-por-estado}">
                                            Web Services (datos)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <canvas id="estadoNegocios" style="max-height: 300px; width: 100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar active state -->
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', () => {-->
<!--        const links = document.querySelectorAll('.sidebar a');-->
<!--        links.forEach((link) => {-->
<!--            link.addEventListener('click', (e) => {-->
<!--                e.preventDefault();-->
<!--                links.forEach((l) => l.classList.remove('active'));-->
<!--                link.classList.add('active');-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Script de las graficas -->
<script th:src="@{/js/admin/dashboard/grafica_barra_negocioByEstado.js}"></script>
<script th:src="@{/js/admin/dashboard/grafico_barra_usuarios.js}"></script>
<script th:src="@{/js/admin/dashboard/grafico_linea_ventaByMes.js}"></script>
<script th:src="@{/js/admin/dashboard/grafico_barra_pqrs.js}"></script>

<!-- Export libraries -->
<!-- Pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<!-- Excel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<!-- Exportaciones -->
<script th:src="@{/js/admin/dashboard/exportarGraficas.js}"></script>
<script th:src="@{/js/admin/dashboard/datos-cartas.js}"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- JavaScript del toggle - SOLO en páginas que lo necesiten -->
<script th:src="@{/js/admin/profile_admin_custom.js}"></script>
</body>
</html>
