<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Muro Social</title>
</head>
<body class="m-0 p-0">
<header class="navbar navbar-light d-flex justify-content-center mb-4" style="height: 50px;">
    <nav class="text-center pb-1 fs-4" style="border-bottom: 1px solid black; width: 80%;">
        <div>
            Inicio
        </div>
    </nav>
</header>

    <!-- Contenedor de imagenes y reacciones -->
    <div class="container-fluid border border-gray rounded-5 mt-1 shadow-lg" style="max-width: 650px; min-width: 550px; min-height: 900px;">

            <!-- publicaciones -->
            <div class="container-fluid border border-gray rounded-4 d-flex justify-content-start mt-3 shadow" style="min-height: 340px;">
                <!-- publicacion 1-->
                <div class="col-12 ">
                    <!-- Columna 1-->
                    <div class="row ms-1 me-1" style="">
                        <!-- foto perfil -->
                        <div class="col-2 p-1 d-flex justify-content-center align-items-center">
                            <img src="/img/muroSocial/foto.jpg" class="img-fluid rounded-5" alt="foto" style="width: 65%; height: 50px;">
                        </div>
                        <!-- Nombre perfil -->
                        <div class="col-10 mt-3">
                            <strong> Pepito rodriguez </strong>
                            <!-- texto -->
                            <div class="">
                                <p>
                                    Miren esta deliciosa hazaña del puesto no se que, impresionante y versatil, me encanta
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- columna 2 -->
                    <div class="row  ms-1 me-1 d-flex justify-content-end p-1" style="min-height: 65%; max-height: 65%;">
                        <!-- imagenes -->
                        <div class="col-11" style="height: auto;">
                            <div class="row" >

                                <!-- img1 -->
                                <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                    <div class="" style="min-width: 125px;">
                                        <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                    </div>
                                </div>

                                <!-- img2 -->
                                <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                    <div class="" style="min-width: 125px">
                                        <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- -->
        <div class="container-fluid border border-gray rounded-4 d-flex justify-content-start mt-3 shadow" style="min-height: 340px;">
            <!-- publicacion 1-->
            <div class="col-12 ">
                <!-- Columna 1-->
                <div class="row ms-1 me-1" style="">
                    <!-- foto perfil -->
                    <div class="col-2 p-1 d-flex justify-content-center align-items-center">
                        <img src="/img/muroSocial/foto.jpg" class="img-fluid rounded-5" alt="foto" style="width: 65%; height: 50px;">
                    </div>
                    <!-- Nombre perfil -->
                    <div class="col-10 mt-3">
                        <strong> Pepito rodriguez </strong>
                        <!-- texto -->
                        <div class="">
                            <p>
                                Miren esta deliciosa hazaña del puesto no se que, impresionante y versatil, me encanta
                            </p>
                        </div>
                    </div>
                </div>

                <!-- columna 2 -->
                <div class="row  ms-1 me-1 d-flex justify-content-end p-1" style="min-height: 65%; max-height: 65%;">
                    <!-- imagenes -->
                    <div class="col-11" style="height: auto;">
                        <div class="row" >

                            <!-- img1 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px;">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>

                            <!-- img2 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container-fluid border border-gray rounded-4 d-flex justify-content-start mt-3 shadow" style="min-height: 340px;">
            <!-- publicacion 1-->
            <div class="col-12 ">
                <!-- Columna 1-->
                <div class="row ms-1 me-1" style="">
                    <!-- foto perfil -->
                    <div class="col-2 p-1 d-flex justify-content-center align-items-center">
                        <img src="/img/muroSocial/foto.jpg" class="img-fluid rounded-5" alt="foto" style="width: 65%; height: 50px;">
                    </div>
                    <!-- Nombre perfil -->
                    <div class="col-10 mt-3">
                        <strong> Pepito rodriguez </strong>
                        <!-- texto -->
                        <div class="">
                            <p>
                                Miren esta deliciosa hazaña del puesto no se que, impresionante y versatil, me encanta
                            </p>
                        </div>
                    </div>
                </div>

                <!-- columna 2 -->
                <div class="row  ms-1 me-1 d-flex justify-content-end p-1" style="min-height: 65%; max-height: 65%;">
                    <!-- imagenes -->
                    <div class="col-11" style="height: auto;">
                        <div class="row" >

                            <!-- img1 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px;">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>

                            <!-- img2 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container-fluid border border-gray rounded-4 d-flex justify-content-start mt-3 shadow" style="min-height: 340px;">
            <!-- publicacion 1-->
            <div class="col-12 ">
                <!-- Columna 1-->
                <div class="row ms-1 me-1" style="">
                    <!-- foto perfil -->
                    <div class="col-2 p-1 d-flex justify-content-center align-items-center">
                        <img src="/img/muroSocial/foto.jpg" class="img-fluid rounded-5" alt="foto" style="width: 65%; height: 50px;">
                    </div>
                    <!-- Nombre perfil -->
                    <div class="col-10 mt-3">
                        <strong> Pepito rodriguez </strong>
                        <!-- texto -->
                        <div class="">
                            <p>
                                Miren esta deliciosa hazaña del puesto no se que, impresionante y versatil, me encanta
                            </p>
                        </div>
                    </div>
                </div>

                <!-- columna 2 -->
                <div class="row  ms-1 me-1 d-flex justify-content-end p-1" style="min-height: 65%; max-height: 65%;">
                    <!-- imagenes -->
                    <div class="col-11" style="height: auto;">
                        <div class="row" >

                            <!-- img1 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px;">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>

                            <!-- img2 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container-fluid border border-gray rounded-4 d-flex justify-content-start mt-3 shadow" style="min-height: 340px;">
            <!-- publicacion 1-->
            <div class="col-12 ">
                <!-- Columna 1-->
                <div class="row ms-1 me-1" style="">
                    <!-- foto perfil -->
                    <div class="col-2 p-1 d-flex justify-content-center align-items-center">
                        <img src="/img/muroSocial/foto.jpg" class="img-fluid rounded-5" alt="foto" style="width: 65%; height: 50px;">
                    </div>
                    <!-- Nombre perfil -->
                    <div class="col-10 mt-3">
                        <strong> Pepito rodriguez </strong>
                        <!-- texto -->
                        <div class="">
                            <p>
                                Miren esta deliciosa hazaña del puesto no se que, impresionante y versatil, me encanta
                            </p>
                        </div>
                    </div>
                </div>

                <!-- columna 2 -->
                <div class="row  ms-1 me-1 d-flex justify-content-end p-1" style="min-height: 65%; max-height: 65%;">
                    <!-- imagenes -->
                    <div class="col-11" style="height: auto;">
                        <div class="row" >

                            <!-- img1 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px;">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>

                            <!-- img2 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- -->
        <div class="container-fluid border border-gray rounded-4 d-flex justify-content-start mt-3 shadow" style="min-height: 340px;">
            <!-- publicacion 1-->
            <div class="col-12 ">
                <!-- Columna 1-->
                <div class="row ms-1 me-1" style="">
                    <!-- foto perfil -->
                    <div class="col-2 p-1 d-flex justify-content-center align-items-center">
                        <img src="/img/muroSocial/foto.jpg" class="img-fluid rounded-5" alt="foto" style="width: 65%; height: 50px;">
                    </div>
                    <!-- Nombre perfil -->
                    <div class="col-10 mt-3">
                        <strong> Pepito rodriguez </strong>
                        <!-- texto -->
                        <div class="">
                            <p>
                                Miren esta deliciosa hazaña del puesto no se que, impresionante y versatil, me encanta
                            </p>
                        </div>
                    </div>
                </div>

                <!-- columna 2 -->
                <div class="row  ms-1 me-1 d-flex justify-content-end p-1" style="min-height: 65%; max-height: 65%;">
                    <!-- imagenes -->
                    <div class="col-11" style="height: auto;">
                        <div class="row" >

                            <!-- img1 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px;">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>

                            <!-- img2 -->
                            <div class="col-6 d-flex justify-content-center align-items-center p-1" style="min-height: 200px;">
                                <div class="" style="min-width: 125px">
                                    <img class="img-fluid rounded-3 shadow-lg border border-gray" src="/img/muroSocial/hamburguesa.jpg" style="width: 100%; min-height: 200px;">
                                </div>
                            </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>