.navegacion-sections {
    background: #f4f4f4;
    padding: 10px 0;
}

.logo-principal {
    width: 50px;
}

.navbar-brand span {
    font-family: 'Poppins';
    font-size: 1.2rem;
    color: black;
}

.navbar-nav {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
}

.link-header {
    margin: 0 8px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background: #ffaa16;
    color: white !important;
    font-weight: bold;
}

#comunidad {
    background: #2289e6;
    color: white !important;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 12px;
}

#login {
    background: #d72638;
    color: white !important;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 16px;
}

/* Responsive spacing */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    #comunidad, #login {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}


body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #fff;
    color: #333;
}

.section-funciona {
    padding: 80px 0;
    background: linear-gradient(135deg, #fff7f0, #ffe1cc);
}

.titulo-principal {
    font-size: 3rem;
    font-weight: 800;
    color: #d34700;
}

.titulo-principal span {
    color: #ff7200;
}

.descripcion {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #555;
}

.pasos .tarjeta-paso {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.pasos .tarjeta-paso:hover {
    transform: translateY(-8px);
}

.icono {
    width: 80px;
    margin-bottom: 20px;
}

.tarjeta-paso h4 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #d34700;
}

.tarjeta-paso p {
    color: #666;
    font-size: 0.95rem;
}

.beneficios {
    background: #fffdfc;
    padding: 40px;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.beneficios-titulo {
    color: #d34700;
    font-weight: 700;
    margin-bottom: 20px;
}

.beneficios ul {
    list-style: none;
    padding-left: 0;
}

.beneficios li {
    margin-bottom: 12px;
    font-size: 1rem;
    color: #444;
    position: relative;
    padding-left: 24px;
}

.beneficios li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #28a745;
    font-weight: bold;
}

/* Footer */

/*
.footer

- background: #ececec, color de fondo del footer

.footer-text
- display: block, el texto sera un bloque
- color: black, el color de la letra
*/

.footer {
    background: #ececec;
}

.footer-text {
    display: block;
    color: black;
}

/*
.footer-titulo

- margin: 20px 0, margen de 20px en la parte superior e inferior
- font-family: 'Poppins', fuente del texto
- font-weight: 700, la letra sera bold (negrillas)
*/

.footer-titulo {
    margin: 20px 0;
    font-family: 'Poppins';
    font-weight: 700;
}

/*
.footer-logo
- width: 200px, el ancho del logo sera de 200px
*/

.footer-logo {
    width: 200px;
}

/*
.playstore , .appstore

- margin-bottom: 10px, margen de 10px en la parte inferior
- width: 150px, el ancho de los logos sera de 150px
*/

.playstore, .appstore {
    margin-bottom: 10px;
    width: 150px;
}

/*
.footer-container-redsocial

- display: flex, el contenedor sera un bloque flexible
- align-self: center, el contenedor se alineara al centro
*/

.footer-container-redsocial {
    display: flex;
    align-self: center;
}

/*
.footer-redsocial

- padding: 15px, el padding sera de 15px
- margin: 0 5px, el margen sera de 0px en la parte superior e inferior y 5px en los lados
- background: white, el color de fondo sera blanco
- border-radius: 50%, los bordes tendran una curvatura de 50% (seran circulares)
*/

.footer-redsocial {
    padding: 15px;
    margin: 0 5px;
    background: white;
    border-radius: 50%;
}

/*
.icono-redsocial
- width: 25px, el ancho de los iconos sera de 25px
*/

.icono-redsocial {
    width: 25px;
}

/*
.fondo-facebook

- transition: background-color 0.3s ease-in-out, la transicion sera de 0.3 segundos y el color de fondo cambiara al pasar el mouse
*/

.fondo-facebook {
    transition: background-color 0.3s ease-in-out;
}

/*
.facebook

- transition: transform 0.3s, filter 0.3s, la transicion sera de 0.3 segundos y el color de fondo cambiara al pasar el mouse
*/

.facebook {
    transition: transform 0.3s, filter 0.3s;
}

/*
.fondo-facebook:hover

- background-color: #0165E1, el color de fondo sera azul al pasar el mouse
*/

.fondo-facebook:hover {
    background-color: #0165E1;
}

/*
.fondo-facebook:hover .facebook

- filter: brightness(0) invert(1), el color de la imagen sera blanco al pasar el mouse
*/

.fondo-facebook:hover .facebook {
    filter: brightness(0) invert(1);
}

/* Instagram */

/*
.fondo-instagram

- transition: background-color 0.3 ease-in-out, la transicion sera de 0.3 segundos y el color de fondo cambiara al pasar el mouse
*/
.fondo-instagram {
    transition: background-color 0.3s ease-in-out;
}

/*
.instagram

- transition: transform 0.3s, filter 0.3s, la transicion sera de 0.3 segundos y el color de fondo cambiara al pasar el mouse
*/

.instagram {
    transition: transform 0.3s, filter 0.3s;
}

/*
.fondo-instagram:hover

- background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4), el color de fondo sera un degradado al pasar el mouse
*/

.fondo-instagram:hover {
    background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
}

/*
.fondo-instagram:hover .instagram

- filter: brightness(0) invert(1), el color de la imagen sera blanco al pasar el mouse
*/

.fondo-instagram:hover .instagram {
    filter: brightness(0) invert(1);
}

/* Twitter */

/*
.fondo.twitter

- transition: background-color 0.3s ease-in-out, la transicion sera de 0.3 segundos y el color de fondo cambiara al pasar el mouse
*/

.fondo-twitter {
    transition: background-color 0.3s ease-in-out;
}

/*
.twitter

- transition: transform 0.3s, filter 0.3s, la transicion sera de 0.3 segundos y el color de fondo cambiara al pasar el mouse
*/

.twitter {
    transition: transform 0.3s, filter 0.3s;
}

/*
.fondo-twitter:hover

- background-color: black, el color de fondo sera negro cuando pase el mouse
*/

.fondo-twitter:hover {
    background-color: black;
}

/*
.fondo-twitter:hover .twitter

- filter: brightness(0) invert(1), el fondo y la imagen cambiara de color cuadndo pase el mouse
*/

.fondo-twitter:hover .twitter {
    filter: brightness(0) invert(1);
}


/* linkedin */

/*
.fondo-linkedin

-transitiom: background-color 0.3s ease-in-out, tendra una transicion suave cuando se pase el mouse
*/

.fondo-linkedin {
    transition: background-color 0.3s ease-in-out;
}

/*
.linkedin

- transition: transform 0.3s, filter 0.3s, la transition de la imagen sera suave
*/

.linkedin {
    transition: transform 0.3s, filter 0.3s;

}

/*
.fondo-linkedin:hover

- background-color: #0165e1, el fondo cambiara de color cuando pase el mouse
*/

.fondo-linkedin:hover {
    background-color: #0165E1;
}

/*
.fondo-linkedin:hover .linkedin

- filter: brightness(0) invert(1), tanto el fondo y la imagen cambiara su filtro al mismo tiempo cuando pase el mouse
*/

.fondo-linkedin:hover .linkedin {
    filter: brightness(0) invert(1);
}

/* ------- */

/* Footer - ultimo */


/*
footer

- margin: 0, el margin de la etiqueta semantica sera del contenedor pirncipal sera de 0
*/
footer {
    margin: 0;
}

/*
.footer-container
Conetendor secundiario donde tiene los hipervinculos

- margin: 20px 20px, tiene un margin en todos los lados de 20px
*/

.footer-container {
    margin: 20px 20px;
}

/*
.footer-footer-link

-text-decoration: none, los hipervinculos no esta subrayado
-color: black, el color de la letra es negra
-font-family: 'Poppins', la fuente es de poppins
-font-weight: 500, el estilo de la letra es 500 la cual seria medium
-font-size: 15px, el tamaño de la letra es de 15px
-margin: 10px 5px, tiene un margin de 10px top-bottom y 5px right-left
-padding-right: 10px, su padding-right es de 10px para tener distancia entre las demas
-border-right: solid 2px black, su border-right  tiene un groso de 2px y de color black
*/

.footer-footer-link {
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    margin: 10px 5px;
    padding-right: 10px;
    border-right: solid 2px black;
}

/*
.footer-footer-text
Texto de la fuente de agua sobre el nombre del proyecto

-display: inline, tiene un display inline para poder manejaro en la misma fila que los link
-float: right, esta al final de la fila en la parte derecha
*/

.footer-footer-text {
    display: inline;
    float: right;
}





