.navegacion-sections {
    background: #eaeaea;
    padding: 10px 0;
}

.logo-principal {
    width: 50px;
}

.navbar-brand span {
    font-family: 'Poppins';
    font-size: 1.2rem;
    color: black;
}

.navbar-nav {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
}

.link-header {
    margin: 0 8px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background: #ffaa16;
    color: white !important;
    font-weight: bold;
}

#comunidad {
    background: #2289e6;
    color: white !important;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 12px;
}

#login {
    background: #d72638;
    color: white !important;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 16px;
}

/* Responsive spacing */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    #comunidad, #login {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}


.header-portada {
    background: #ffaa16;
    padding: 50px 0;
}

.header-titulo {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 20px;
    word-break: break-word;
}

.header-parrafo {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 30px;
    word-break: break-word;

}

.header-link {
    background: #d72638;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    /*white-space: nowrap;*/
    max-width: 100%;
    /*overflow-wrap: break-word;*/
}

.header-foto {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 300px 300px 0 0;
}

.logo-principal {
    width: 100px;
}

/*----------------------------------------------------------------*/

/* Cambia el color del bot칩n cuando est치 activo */
.accordion-button:not(.collapsed) {
    background-color: #f0f8ff; /* azul claro */
    color: #0d6efd; /* azul Bootstrap */
    font-weight: 600;
}

/* Cambia el fondo de la descripci칩n cuando est치 visible */
.accordion-collapse.show .accordion-body {
    background-color: #f8f9fa; /* gris claro */
    border-left: 4px solid #0d6efd;
    padding: 1rem;
    transition: background-color 0.3s ease;
}

/* ------------- */

.footer {
    background: #ececec;
}

.footer-text {
    display: block;
    color: black;
}

.footer-titulo {
    margin: 20px 0;
    font-family: 'Poppins';
    font-weight: 700;
}

.footer-logo {
    width: 200px;

}

.playstore, .appstore {
    margin-bottom: 10px;
    width: 150px;
}

.footer-container-redsocial {
    display: flex;
    align-self: center;
}

.footer-redsocial {
    padding: 15px;
    margin: 0 5px;
    background: white;
    border-radius: 50%;
}

.icono-redsocial {
    width: 25px;

}

.fondo-facebook {
    transition: background-color 0.3s ease-in-out;
}

.facebook {
    transition: transform 0.3s, filter 0.3s;

}

.fondo-facebook:hover {
    background-color: #0165E1;
}

.fondo-facebook:hover .facebook {
    filter: brightness(0) invert(1);
}

/* Instagram */
.fondo-instagram {
    transition: background-color 0.3s ease-in-out;
}

.instagram {
    transition: transform 0.3s, filter 0.3s;

}

.fondo-instagram:hover {
    background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
}

.fondo-instagram:hover .instagram {
    filter: brightness(0) invert(1);
}

/* Twitter */


.fondo-twitter {
    transition: background-color 0.3s ease-in-out;
}

.twitter {
    transition: transform 0.3s, filter 0.3s;

}

.fondo-twitter:hover {
    background-color: black;
}

.fondo-twitter:hover .twitter {
    filter: brightness(0) invert(1);
}


/* linkedin */
.fondo-linkedin {
    transition: background-color 0.3s ease-in-out;
}

.linkedin {
    transition: transform 0.3s, filter 0.3s;

}

.fondo-linkedin:hover {
    background-color: #0165E1;
}

.fondo-linkedin:hover .linkedin {
    filter: brightness(0) invert(1);
}

/* ------- */

footer {
    margin: 0;
}

.footer-container {
    margin: 20px 20px;
}

.footer-footer-link {

    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    margin: 10px 5px;
    padding-right: 10px;
    border-right: solid 2px black;

}

.footer-footer-text {
    display: inline;
    float: right;
}