.navegacion-sections {
    background: #f4f4f4;
    padding: 5px 0;
}

.logo-principal {
    width: 50px;
}

.navbar-brand span {
    font-family: 'Poppins';
    font-size: 1.2rem;
    color: black;
}

.navbar-nav {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
}

.link-header {
    margin: 0 8px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background: #ffaa16;
    color: white !important;
    font-weight: bold;
}

#comunidad {
    background: #2289e6;
    color: white !important;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 12px;
}

#login {
    background: #d72638;
    color: white !important;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 16px;
}

/* Responsive spacing */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    #comunidad, #login {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}


.header-portada {
    background: #ffaa16;
    padding: 50px 0;
}

.header-titulo {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 20px;
    word-break: break-word;
}

.header-parrafo {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 30px;
    word-break: break-word;

}

.header-link {
    background: #d72638;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 30px;
    text-decoration: none;
    display: inline-block;
    /*white-space: nowrap;*/
    max-width: 100%;
    /*overflow-wrap: break-word;*/
}

.header-foto {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 300px 300px 0 0;
}

.logo-principal {
    width: 100px;
}


/* Main */

.comunidad {
    padding-bottom: 50px;
}

.comunidad-bloquetitulo {
    text-align: center;
    margin: 20px 0;
}

.comunidad-titulo {
    display: inline-block; /* Evita que el borde ocupe toda la línea */
    border-bottom: 5px solid #ffaa16; /* Grosor y color del subrayado */
    padding-bottom: 5px; /* Ajusta la distancia del subrayado al texto */
    font-weight: bold;
}

.comunidad-cliente {
    font-family: 'Poppins';
    font-weight: 700;
    color: #d72638;
}

.comunidad-vendedor {
    font-family: 'Poppins';
    font-weight: 700;
    color: #ff7f11;

}

.comunidad-domiciliario {
    font-family: 'Poppins';
    font-weight: 700;
    color: #38793b;
}

.contador-cliente {
    color: #d72638;
    font-size: 25px;
    font-weight: bold;

}

.contador-vendedor {
    color: #ff7f11;
    font-weight: bold;
    font-size: 25px;

}

.contador-domiciliario {
    color: #38793b;
    font-size: 25px;
    font-weight: bold;
}

.comunidad-imgusers {
    margin: 20px 0;
    width: 150px;

}

.comunidad-imgvendedor {
    margin: 20px 0;
    width: 150px;

}

.comunidad-imgdomiciliario {
    margin: 20px 0;
    width: 150px;

}

/* Section 2 */

/* Section 2: Beneficios */

.beneficio {
    background: #ececec;
    padding-bottom: 50px;
}

.beneficio-bloquetitulo {
    text-align: center;
}

.beneficio-titulo {
    margin: 20px 0;
    display: inline-block;
    border-bottom: 5px solid #ffaa16;
    padding-bottom: 5px;
    font-weight: bold;
}


/* Imágenes fluidas */
.beneficio-imgCliente,
.beneficio-imgVendedor,
.beneficio-imgDomiciliario {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 20px auto;
    display: block;
}

/* Altura dinámica para tarjetas */
.card-cliente,
.card-vendedor,
.card-domiciliario {
    /*min-height: 270px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card {
    perspective: 1000px;
    width: 100%;
    height: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: auto;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: block;
}

.flip-card-front {
    background-color: #d72638;
}

.flip-card-back {
    background-color: inherit;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsividad: desactivar flip en móviles */
/*@media (max-width: 768px) {*/
/*    .flip-card-inner {*/
/*        transform: none !important;*/
/*    }*/

/*    .flip-card-back {*/
/*        position: relative;*/
/*        transform: none;*/
/*        height: auto;*/
/*    }*/
/*}*/

/* Colores personalizados */
.card-cliente {
    background: #f35e5e;
}

.card-vendedor {
    background: #cecece;
}

.card-domiciliario {
    background: #ffcb47;
}

/* Botones */
.link-beneficio-cliente,
.link-beneficio-vendedor,
.link-beneficio-domiciliario {
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 13px 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* Tipografía */
.card-title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 25px;
}

.card-subtitle {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.card-text {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.5;
}


/* Section 3 */

.localidad-bloquetitulo {
    text-align: center;
    margin: 20px 0;
}

.localidad-titulo {
    display: inline-block; /* Evita que el borde ocupe toda la línea */
    border-bottom: 5px solid #ffaa16; /* Grosor y color del subrayado */
    padding-bottom: 5px; /* Ajusta la distancia del subrayado al texto */
    font-weight: bold;
}

.localidad-cliente {
    font-family: 'Poppins';
    font-weight: 700;
    color: #d72638;
}

.localidad-vendedor {
    font-family: 'Poppins';
    font-weight: 700;
    color: #ff7f11;

}

.localidad-domiciliario {
    font-family: 'Poppins';
    font-weight: 700;
    color: #38793b;
}

.contador-cliente {
    color: #d72638;
    font-size: 25px;
    font-weight: bold;

}

.contador-vendedor {
    color: #ff7f11;
    font-weight: bold;
    font-size: 25px;

}

.contador-domiciliario {
    color: #38793b;
    font-size: 25px;
    font-weight: bold;
}

.localidad-imgusers,
.localidad-imgvendedor,
.localidad-imgdomiciliario {
    margin: 30px 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.3s cubic-bezier(0.25, 1.5, 0.5, 1);

}

.localidad-imgusers:hover,
.localidad-imgvendedor:hover,
.localidad-imgdomiciliario:hover {

    box-shadow: -30px -15px 2px #ffcb47;
    transform: scale(1.1);

}

.localidades {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 25px;
}

.slogan-localidad {
    margin: 40px 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    padding: 0 100px;

}


/* .localidad-bloqueslogan{
} */

/* #link-localidades{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;

} */

/* ------------- */

.footer {
    background: #ececec;
}

.footer-text {
    display: block;
    color: black;
}

.footer-titulo {
    margin: 20px 0;
    font-family: 'Poppins';
    font-weight: 700;
}

.footer-logo {
    width: 200px;

}

.playstore, .appstore {
    margin-bottom: 10px;
    width: 150px;
}

.footer-container-redsocial {
    display: flex;
    align-self: center;
}

.footer-redsocial {
    padding: 15px;
    margin: 0 5px;
    background: white;
    border-radius: 50%;
}

.icono-redsocial {
    width: 25px;

}

.fondo-facebook {
    transition: background-color 0.3s ease-in-out;
}

.facebook {
    transition: transform 0.3s, filter 0.3s;

}

.fondo-facebook:hover {
    background-color: #0165E1;
}

.fondo-facebook:hover .facebook {
    filter: brightness(0) invert(1);
}

/* Instagram */
.fondo-instagram {
    transition: background-color 0.3s ease-in-out;
}

.instagram {
    transition: transform 0.3s, filter 0.3s;

}

.fondo-instagram:hover {
    background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
}

.fondo-instagram:hover .instagram {
    filter: brightness(0) invert(1);
}

/* Twitter */


.fondo-twitter {
    transition: background-color 0.3s ease-in-out;
}

.twitter {
    transition: transform 0.3s, filter 0.3s;

}

.fondo-twitter:hover {
    background-color: black;
}

.fondo-twitter:hover .twitter {
    filter: brightness(0) invert(1);
}


/* linkedin */
.fondo-linkedin {
    transition: background-color 0.3s ease-in-out;
}

.linkedin {
    transition: transform 0.3s, filter 0.3s;

}

.fondo-linkedin:hover {
    background-color: #0165E1;
}

.fondo-linkedin:hover .linkedin {
    filter: brightness(0) invert(1);
}

/* ------- */

footer {
    margin: 0;
}

.footer-container {
    margin: 20px 20px;
}

.footer-footer-link {

    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    margin: 10px 5px;
    padding-right: 10px;
    border-right: solid 2px black;

}

.footer-footer-text {
    display: inline;
    float: right;
}





