<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Opinión de Carlos Ruiz</title>
    <link rel="stylesheet" href="css/estilo_opiniones.css">
</head>
<body class="opinion">
<div class="opinion-container">
    <img src="../img/img3.jpg" alt="Laura Fernandez">
    <div class="nombre">Laura Fernandez</div>
    <div class="estrellas">★★★★★</div>
    <div class="comentario">
        "Una experiencia única para amantes de la comida callejera. ¡Excelente servicio!"
    </div>
    <a href="testimonios.html" class="volver">Volver</a>
</div>
</body>
</html>
