<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Importar Usuarios</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
</head>
<body class="flex justify-center items-center min-h-screen bg-linear-to-t from-yellow-300 to-red-500 ">

<!-- CONTENEDOR PRINCIPAL -->
<div class="w-full max-w-md mx-4 p-6 rounded-xl bg-gray-800 shadow-xl text-white font-[<Poppins>]">
    <button class="w-auto bg-red-500 text-white rounded-lg px-4 py-2 transition duration-200 ease-in-out hover:scale-95" type="button" onclick="history.back()">Atras</button>

    <!-- Contenedor titulo-->
    <div class="text-center">
        <!-- imagen logo-->
        <div class="flex justify-center">
            <img th:src="@{/img/logo_sbr.png}" alt="Logo" class="w-20 h-20 sm:w-30 sm:h-30">
        </div>
        <h2 class="text-xl sm:text-2x2 font-bold">Importacion de Usuarios a gran escala</h2>
        <p class="text-gray-400 text-sm sm:text-base mt-2">Solo puede subir archivos Excel (.xlsx)</p>
    </div>

    <!-- Contenedor formulario-->
    <div class="mt-6">
        <form th:action="@{/usuarios/importar/procesar}" method="post" enctype="multipart/form-data" class="space-y-4">

            <!-- Input archivo -->
            <div class="text-center">
                <input class="w-auto border rounded-lg p-2 bg-white text-black bold text-sm sm:text-base transition duration-200 ease-in-out hover:scale-95" type="file" name="archivo" accept=".xlsx" required>
            </div>

            <!-- Botón -->
            <div class="text-center">
                <button class="w-auto bg-red-500 text-white rounded-lg px-4 py-2 text-sm sm:text-base transition duration-200 ease-in-out hover:scale-95 shadow-lg" type="submit">Importar</button>
            </div>
        </form>
    </div>

    <!-- MENSAJE DE RESULTADO -->
    <div th:if="${mensaje}" class="fixed inset-0 flex justify-center items-center backdrop-blur-sm z-50">
        <div class="flex flex-col items-center gap-4 bg-black/70 p-6 rounded-lg mx-4">
            <strong class="text-white text-center text-base sm:text-lg" th:text="${mensaje}"></strong>
            <button class="w-auto bg-red-500 text-white rounded-lg p-1 transition duration-300 ease-in-out hover:scale-95 shadow-lg" type="button" onclick="history.back()">Cerrar</button>
        </div>
    </div>

</div>
</body>
</html>
